<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Success</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
        }

        .logo {
            font-size: 2em;
            font-weight: bold;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #333;
            font-size: 2.5em;
        }

        p {
            font-size: 1.2em;
            color: #555;
        }

  

        footer {
            margin-top: 50px;
            color: #888;
        }

        /* Style for the copyable link */
        .copyable-link {
            font-family: monospace;
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 4px;
            word-wrap: break-word;
            margin-top: 20px;
            display: inline-block;
        }

    </style>
</head>
<body>
    <header>
        <div class="logo">SupplierDB</div>
    </header>

    <div class="container">
        <h1>Welcome!</h1>
        <p>Thank you for signing up. Your company has been successfully registered.</p>
        <p> You will recieve an email with your custom url link to share with your suppliers.</p> 
        <p>Or share this link with your suppliers:</p>
<pre class="copyable-link"><%= customUrl %></pre> <!-- Display the custom URL here -->
    </div>

    <footer>
        <p>&copy; 2024 SupplierDB. All rights reserved.</p>
    </footer>
</body>
</html>


